// Footer

@import '~breakpoint-sass/stylesheets/breakpoint';
@import '_variables.scss';

footer {
  font-family: 'Didact Gothic', sans-serif;
  font-size: $default-font-size * 0.75;
  color: white;
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  z-index: 10;

  @include breakpoint($break-mid) {
    font-size: $default-font-size;
  }

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: $blind-blue;
    }
  }
}
