// Puck


#point-zero {
  width: 0;
  height: 0;
  overflow: visible;

  * {
    transition: fill linear 1s, filter linear 2s, opacity linear 2s;
  }

  rect {
    fill: white;
    stroke: none;
  }
}
