// Main title

@import '_variables.scss';
@import '_animations.scss';

#main-title {
  position: absolute;
  font-size: $default-font-size;
  top: 50%;
  left: 50%;

  animation: $animation-text-entry;

  img {
    display: block;
    width: 500px;
    max-width: 75vw;
    margin-bottom: 2em;
  }

  transform: translate(-50%, -50%);
}
