// System menu

#system-menu {
  position: absolute;
  bottom: 2em;
  right: 2em;
  margin: 0;
  padding: 0;

  a {
    display: inline-block;
    width: 1em;
    height: 1em;
    border: solid white 1px;
    margin: 0 0 0 0.5em;
    background-size: contain;
    color: white;
    text-decoration: none;
  }
}
