// Text in-game

.text {
  font-family: 'c64-angled', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;

  position: absolute;
  top: 65%;
  left: 50%;
  width: 80vw;
  text-align: center;

  transform: translate(-50%, 0);

  animation: text-removal 1.5s normal ease-in-out 3.5s 1 running;

  &.title {
    font-size: 32px;
  }
}

@keyframes text-removal {
  from {
    color: white;
    opacity: 1;
  }

  40% {
    color: #a00;
  }

  to {
    color: #ba0;
    opacity: 0;
  }
}
