// Text in-game

@import '_variables.scss';
@import '_animations.scss';

.text {
  font-size: 24px;
  color: white;

  position: absolute;
  top: 60%;  
  left: 50%;
  width: auto;
  white-space: nowrap;
  text-align: center;

  transform: translate(-50%);
  animation: $animation-text-entry;

  &.fadeout {
    animation: $animation-text-removal;
  }

  &.title {
    top: 35%;
    font-size: 44px;
  }
  &.ready {
    cursor: pointer;
    top: 50%;
    padding: 0.5em 0.5em 0.6em;
    border: solid white 4px;
  }
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;

  .text {
    position: static;
    transform: none;
    margin: 0 1em;
  }
}
