// Text in-game

@import '_variables.scss';

.text {
  font-family: 'c64-angled', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: white;

  position: absolute;
  top: 60%;  
  left: 50%;
  width: 80vw;
  text-align: center;

  transform: translate(-50%, 0);

  &.title,
  &.plain,
  &.clicked {
    animation: text-removal 1.5s normal ease-in-out 3.5s 1 running;
  }

  &.title {
    top: 35%;
    font-size: 44px;
  }
  &.clicked {
    cursor: pointer;
    animation-delay: 0s;
  }


}

@keyframes text-removal {
  from {
    color: white;
    opacity: 1;
  }

  40% {
    color: $dying-red;
  }

  to {
    color: $lost-yellow;
    opacity: 0;
  }
}
