// Variables

$background-color: black;
$foreground-color: white;

$dying-red: #900;
$lost-yellow: #990;
$blind-blue: #88ffff;

$glow: drop-shadow( 0px 0px 5px #0ff );

$default-font-size: 24px;
$retro-font-family: 'c64-angled', Helvetica, Arial, sans-serif;

// Animations

$animation-text-entry: text-entry 0.5s ease-in-out 0s 1 forwards;
