// Base loader for SASS files

@import '~breakpoint-sass/stylesheets/breakpoint';
@import '_variables.scss';
@import '_fonts.scss';

html, body {
  background: $background-color;
  color: $foreground-color;
  font-family: $retro-font-family;
  font-size: $default-font-size;
  line-height: 1;
  margin: 0;
  padding: 0;
  touch-action: none;
}
