node_modules
node_modules/*
package-lock.json

dev/*
dev/js/index_bundle.js
dev/js/index_bundle.js.map
dev/css/style.css
dev/css/style.css.map

bouncerapp/platforms
bouncerapp/platforms/*
bouncerback.keystore
