// Base layout

html, body {
    background: $background-color;
    color: $foreground-color;
    font-family: $retro-font-family;
    font-size: $default-font-size;
    line-height: 1;
    margin: 0;
    padding: 0;
    touch-action: none;
  
    @include breakpoint($break-mid) {
      font-size: $default-font-size * 1.5;
    }
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
  
  h1 {
    font-size: $default-font-size;
    font-weight: normal;
  
    @include breakpoint($break-mid) {
      font-size: $default-font-size * 1.5;
    }
  }
