// Atom

.atom {
  fill: white;
  stroke: none;

  &.dying {
    fill: $dying-red;
    opacity: 0;
  }

  &.vortex {
    fill: $lost-yellow;
  }

  &.captured {
    fill: $blind-blue;
    transform: scale(0);
  }
  
}
