// Scoreboards (all them)

.scoreboard {
  position: fixed;
  z-index: 0;
  top: 1em;
  width: 8em;
  text-align: center;
  text-transform: uppercase;
  
  &.score {
    left: 1em;
  }
  &.level {
    right: 1em;
  }

  .label,
  .value {
    animation: $animation-text-entry;
  }
}
