#vortex {
  position: relative;
  z-index: 100;

  fill: white;
  stroke: none;

  transform: scale(0.1);
  animation: creation normal ease-in-out 0s 1 running;
  animation-duration: 2.1s;
}

@keyframes creation {
  from {
    fill: #88ffff00;
    transform: scale(0);
  }

  92% {
    fill: #88ffff30;
    transform: scale(1);  
  }

  to {
    fill: white;
    transform: scale(0.1);
  }
}
