$retro-font-family: 'c64-angled', monospace;
$retro-font-family-2: 'pressstart', monospace;
$sans-font-family: 'didact-gothic', Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'c64-angled';
  src: url('../fonts/c64_angled.ttf');
}

@font-face {
  font-family: 'didact-gothic';
  src: url('../fonts/didact_gothic_regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pressstart';
  src: url('../fonts/pressstart2p.ttf') format('truetype');
}
