// Variables

// BREAKPOINTS

$break-small: 360px;
$break-mid: 800px;
$break-big: 1200px;

// COLORS
$background-color: black;
$foreground-color: white;

$danger-orange: #a70;
$dying-red: #900;
$lost-yellow: #990;
$blind-blue: #88ffff;
$electric-blue: #33f;

$glow: drop-shadow( 0px 0px 5px #0ff );

$default-font-size: 16px;
$default-font-title-size: 1.5rem;

// Animation variables can be found in _animations.scss
