#gamesurface {
  width: 100%;
  background: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  touch-action: none;

  #zone-wrapper {
    box-sizing: content-box;
    // Size is specified in DefaultShop because Firefox needs attributes instead of CSS
    padding: 20px;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    overflow: visible;
    transform: translate(-50%, -50%);

    @include breakpoint($break-small) {
      width: 300px;
      height: 300px;
    }
    @include breakpoint($break-mid) {
      width: 550px;
      height: 550px;
    }

    svg#the-zone {
      width: 100%;
      height: 100%;
      overflow: visible;

      #the-circle {
        animation: zone-creation 0.5s normal ease-in-out 0s 1 forwards;    

        stroke: white;
        stroke-width: 2;
        fill: transparent;
      }
    }
  }
}

@keyframes zone-creation {
  from {
    transform: translate(50%, 50%) scale(0.01);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}
