// Game Over screen layout

#game-ended-screen {
  position: absolute;
  font-size: $default-font-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: $animation-text-entry;

  @include breakpoint($break-mid) {
    font-size: $default-font-size * 1.5;
  }

  h1 {
    text-align: center;
    font-weight: normal;
    font-size: $default-font-title-size;
    margin-bottom: 0 0 1em;
  }

  h2 {
    text-align: center;
    font-weight: normal;
    font-size: $default-font-size * 0.75;
    margin-bottom: 3em;
  }

  .screen-menu {
    margin-bottom: 3em;
  }

  .scoreboard {
    position: static;
    width: auto;
    margin-bottom: 1em;

    .label,
    .value {
      display: inline;
    }

    .label:after {
      content: ': ';
    }
  }

  &.game-beaten {
    h1 {
      margin-bottom: 0.5em;
    }
  }
}
