// Main title

$animation-main-logo: main-logo 2s cubic-bezier(.19,.05,0,1) 0s 1 forwards;
$animation-main-title-text-entry: main-title-text-entry 0.5s ease-in-out 0s 1 forwards;


#main-title {
  position: absolute;
  font-size: $default-font-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: $animation-text-entry;

  svg.main-logo {
    display: block;
    width: 500px;
    max-width: 75vw;
    margin: 0 auto 4em;
    animation: $animation-main-logo;
    
    @include breakpoint($break-mid) {
      width: 900px;
    }
    @include breakpoint($break-large) {
      width: 1200px;
    }
  }

  .screen-menu a {
    color: black;
    border-color: black;

    animation: $animation-main-title-text-entry;
  }
}

@keyframes main-logo {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

@keyframes main-title-text-entry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
