// Main title

#main-title {
  position: absolute;
  font-size: $default-font-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: $animation-text-entry;

  img {
    display: block;
    width: 400px;
    max-width: 75vw;
    margin: 0 auto 2em;
    
    @include breakpoint($break-mid) {
      width: 800px;
    }
  }
}
