// Main title

$animation-main-logo: main-logo 2s cubic-bezier(.19,.05,0,1) 0s 1 forwards;
$animation-logo-letters: logo-letters 10s linear 0s 999 forwards;
$animation-logo-circle: logo-circle 10s linear 0s 1 forwards;
$animation-svg-background: svg-background 20s ease-in-out 0s 999 alternate;
$animation-main-title-text-entry: main-title-text-entry 0.5s ease-in-out 0s 1 forwards;

svg.svg-background {
  position: relative;
  width: 150%;
  animation: $animation-svg-background;

  circle {
    animation: $animation-svg-background;
    animation-name: svg-background-atom;
    animation-timing-function: linear;

    &:last-child {
      animation-direction: alternate-reverse;
    }
  }
}

#main-title {
  position: absolute;
  font-size: $default-font-size;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  animation: $animation-text-entry;

  svg.main-logo {
    display: block;
    width: 500px;
    max-width: 75vw;
    margin: 0 auto 3em;
    animation: $animation-main-logo;
    
    @include breakpoint($break-mid) {
      width: 900px;
    }
    @include breakpoint($break-large) {
      margin-bottom: 4em;
      width: 1200px;
    }

    path, rect, circle {
      animation: $animation-logo-letters;

      &:nth-child(5n+1) {
        animation-duration: 9.25s;
      }
      &:nth-child(5n+2) {
        animation-duration: 9.5s;
      }
      &:nth-child(5n+3) {
        animation-duration: 9.75s;
      }
      &:nth-child(5n+4) {
        animation-duration: 10.25s;
      }
    }
    path:nth-child(2) {
      animation: $animation-logo-circle;
    }
  }

  .screen-menu a {
    color: black;
    border-color: black;

    animation: $animation-main-title-text-entry;
  }
}

@keyframes main-logo {
  from {
    transform: scale(0.85);
  }
  to {
    transform: scale(1);
  }
}

@keyframes logo-letters {
  from {
    opacity: 0.5;
  }
  17% {
    opacity: 0.95;
  }
  18% {
    opacity: 0.25;
  }
  20% {
    opacity: 0.9;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes logo-circle {
  from {
    opacity: 0.5;
  }
  10% {
    opacity: 0.9;
  }
  11% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  15% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

@keyframes svg-background {
  from {
    transform: translate(-30%, 25%) rotate(0);
  }
  to {
    transform: translate(25%, -50%) rotate(180deg);
  }
}

@keyframes svg-background-atom {
  from {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-25%, -39%);
  }
  75% {
    transform: translate(25%, 39%);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes main-title-text-entry {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
